/* basic styles */
body{
  font-family: "forma-djr-display", sans-serif;
font-weight: 700;
font-style: normal;
  font-size: 30px;
}
h1{
  font-family: "forma-djr-display", sans-serif;
  font-weight: 700;
  font-style: normal;
font-size: 110px;
z-index:15;
}


/* section styles */
.wrapper{
  margin:20px;
  position:relative;
  height:100vh;
}

/* year box */
.year{
  display:flex;
  flex-direction:row;
  overflow:scroll;
  gap:20px;
  padding:10px;
  z-index:15
}

.year-numbers{
  padding:10px;
}
.year-numbers:hover{
  background-color: #06E293;
  border-radius:20%;
  cursor:pointer;
}

/* entire data box*/
.data{
  display:flex;
  flex-direction:column;
  gap:30px;
  height:100vh;
}

/* population data */
.population{
  margin:auto;
  width:50%;
}
.population-data-point{
  font-size:60px;
}

/* population positioning */
.population-container{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
/* nyc total consumption data */
.nyc-consumption{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  z-index:15;
  padding:20px;
}


.per-capita{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  z-index:15;
  padding:20px;
  color:#02C2FF
}

.population{
  display:flex;
  flex-direction:column;
  text-align:center;
  z-index:4;
}

/* water */
.water-container{
  height:30%;
  width:100%;
  position:absolute;
  z-index:0;
  transition: transform 0.5s ease-in-out;
  transform-origin: top;
  transform: scaleY(2);
}
.nyc-consumption-water{
  width:100%;
  background-color:#5869FF;
}

.per-capita-water{
  width:100%;
  background-color:#02C2FF;
}

/* decoration styles */

.pop-heading{
  font-size:40px;
}

.pop-data{
  font-size:95px;
}


/* model */

.model{
  z-index:55;
  position:absolute;
  left:26.5%;
  top:25%;
}

model-viewer{
  opacity:.7;
  height:40vw;
  width:40vw;
}